#cid{
    color:rgb(174, 0, 255);
    /* background-color: blue; */
}
.logo{
    width:100px;
height: 100px;
}
.header{
    display:flex;
    background-color: aqua;
    /* avobe code is to bring all the part under header classname ina line  */
justify-content:space-between;
/* it will create space between the component of header   */
border:1px solid black;
}
#list{
    display:flex;
    list-style-type: none;
    margin-right: 10px;
    font-size:20px;
}
#list>li{
    padding:10px;
    margin :10px;
    margin-top:13px;
}
.card{
    width:230px;
    height:380px;
    margin:2px;

}
.card:hover{
    cursor:pointer;
    border:1px solid black;
}
.img{
    width:220px; 
    padding:0px 5px;
    height:200px;
}
.res-cont{
    display:flex;
    flex-wrap: wrap;
}
.filter-btn{
    padding-top:2px;
    cursor:pointer;
}
.shimmer_cont{
    display:flex;
    flex-wrap:wrap;
}
.shimmer_card{
    width:250px;
    height:250px;
    /* border:1px solid black; */
    background-color: grey;
    margin:10px;
}
.login{
    padding :20px;
    cursor:pointer;
}
.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10px;
}
.search_box{
    padding-right:5px;
}
.menu{
    color:black;
}
.menu h1{
    text-align: center;
}
.menu h2{
    text-align: center;
}
.user-card{
    padding: 10px;
    border: 1px solid black;
}
